.add_new:hover {
  background: #f9f9f9;
  cursor: pointer;
}

.add_new:active {
  background: #abe35f;
}

#active {
  color: #000;
}

.reviewWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  left: 0;
  top: 0;
  z-index: 100;
}

.reviewWindow {
  display: block;
  position: relative;
  width: 700px;
  height: 500px;
  background: #f9f9f9;
  top: 300px;
  margin: 0 auto;
}

.reviewText {
  position: relative;
  display: block;
  width: 500px;
  height: 150px;
  top: 140px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
}

.saveBtn {
  position: relative;
  display: block;
  width: 310px;
  height: 35px;
  top: 170px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  background: #abe35f;
}

.saveBtn:hover {
  animation: pulsate-bck 0.5s ease-in-out infinite both;
  cursor: pointer;
}

.saveBtn:active {
  background: #221b20;
}

.reviewClose {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 12px;
  top: 12px;
  text-align: center;
  line-height: 5px;
  background: #abe35f;
}

.reviewClose:hover {
  background: #f56433;
  cursor: pointer;
}

.reviewClose:active {
  background: #221b20;
}

.reviewOutput {
  position: relative;
  display: block;
  width: 350px;
  height: 30px;
  top: -150px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  text-align: center;
  color: red;
}

.reviewName {
  position: absolute;
  display: block;
  width: 300px;
  height: 30px;
  top: 80px;
  left: 200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 360px) {
  .reviewWindow {
    width: 340px;
    height: 340px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 330px;
    height: 110px;
    top: 120px;
    margin: 0 auto;
    font-size: 90%;
  }
  
  .saveBtn {
    width: 230px;
    height: 30px;
    top: 150px;
    font-size: 90%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 340px;
    height: 30px;
    top: -105px;
    font-size: 85%;
  }
  
  .reviewName {
    width: 150px;
    height: 20px;
    top: 80px;
    left: 90px;
    font-size: 90%;
  }
}

@media (min-width: 576px) {
  .reviewWindow {
    width: 500px;
    height: 350px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 350px;
    height: 130px;
    top: 120px;
    margin: 0 auto;
    font-size: 90%;
  }
  
  .saveBtn {
    width: 270px;
    height: 35px;
    top: 170px;
    font-size: 90%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 350px;
    height: 30px;
    top: -150px;
    font-size: 90%;
  }
  
  .reviewName {
    width: 200px;
    height: 25px;
    top: 80px;
    left: 150px;
    font-size: 90%;
  }
}

@media (min-width: 768px) {
  .reviewWindow {
    width: 600px;
    height: 400px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 450px;
    height: 150px;
    top: 140px;
    margin: 0 auto;
    font-size: 100%;
  }
  
  .saveBtn {
    width: 270px;
    height: 35px;
    top: 170px;
    font-size: 100%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 350px;
    height: 30px;
    top: -150px;
    font-size: 100%;
  }
  
  .reviewName {
    width: 250px;
    height: 30px;
    top: 80px;
    left: 180px;
    font-size: 100%;
  }
}

@media (min-width: 992px) {
  .reviewWindow {
    width: 700px;
    height: 500px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 500px;
    height: 150px;
    top: 140px;
    margin: 0 auto;
    font-size: 100%;
  }
  
  .saveBtn {
    width: 310px;
    height: 35px;
    top: 170px;
    font-size: 100%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 350px;
    height: 30px;
    top: -150px;
    font-size: 100%;
  }
  
  .reviewName {
    width: 300px;
    height: 30px;
    top: 80px;
    left: 200px;
    font-size: 100%;
  }
}

@media (min-width: 1200px) {
  .reviewWindow {
    width: 700px;
    height: 500px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 500px;
    height: 150px;
    top: 140px;
    margin: 0 auto;
    font-size: 110%;
  }
  
  .saveBtn {
    width: 310px;
    height: 35px;
    top: 170px;
    font-size: 110%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 350px;
    height: 30px;
    top: -150px;
    font-size: 110%;
  }
  
  .reviewName {
    width: 300px;
    height: 30px;
    top: 80px;
    left: 200px;
    font-size: 110%;
  }
}

@media (min-width: 1400px) {
  .reviewWindow {
    width: 700px;
    height: 500px;
    top: 300px;
    margin: 0 auto;
  }
  
  .reviewText {
    width: 500px;
    height: 150px;
    top: 140px;
    margin: 0 auto;
    font-size: 110%;
  }
  
  .saveBtn {
    width: 310px;
    height: 35px;
    top: 170px;
    font-size: 110%;
  }
  
  .reviewClose {
    right: 12px;
    top: 12px;
  }
  
  .reviewOutput {
    width: 350px;
    height: 30px;
    top: -150px;
    font-size: 110%;
  }
  
  .reviewName {
    width: 300px;
    height: 30px;
    top: 80px;
    left: 200px;
    font-size: 110%;
  }
}
