.news_main_wrapper {
  height: max-content;
  display: flex;
  padding: 0px 15%;
}

.news_date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.news_text {
  margin: 15px;
  text-align: justify;
  text-indent: 15px;
  font-size: 1.1em;
}
