.about_container {
  height: 100vh;
  max-width: 1200px;
  margin: 50px auto;
  background-color: rgba(41, 53, 21, 0.8);
  font-size: 1.0em;
  border: 1px solid black;
  padding-bottom: 50px;
  color: white;
  border-radius: 10px;
}

.about_container div {
  font-size: 1.0em;
}

h1 {
  font-size: 1.5em;
}

@media (min-width: 300px) and (max-width: 768px) {
  .about_container {
    height: 100vh;
    margin: 10px auto;
    font-size: 0.9em;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 1.1em;
  }
}

