.gallery_wrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  text-align: center;
  padding: 0px 15%;
}

.paginationWrapper {
  background: rgba(41, 53, 21, 0.8);
  border-radius: 10px;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.selector_btn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 800;
  margin: 5px;
  cursor: pointer;
  background: rgba(41, 53, 21, 0.8);
  color: white;
}

.activeBtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 800;
  margin: 5px;
  cursor: pointer;
  background: rgba(41, 53, 21, 0.8);
  color: rgba(254, 143, 73, 1);
}

.selector_btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #abe35f;
}

.activeBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gallery_title {
  text-align: center;
  color: white;
}

.gallery_wrapper_fotos {
  height: min-content;
  background-color: rgba(41, 53, 21, 0.8);
  margin: 15px auto;
  border-radius: 10px;
}

.gallery_fotos {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery_item {
  margin: 20px;
}

.gallery_img {
  max-width: 300px;
  max-height: 200px;
}

.gallery_item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (min-width: 250px) and (max-width: 814px) {
  .selector_btn {
    width: 30px;
    height: 30px;
    font-size: 0.5em;
    font-weight: 600;
    margin: 5px;
  }

  .activeBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 0.5em;
    font-weight: 600;
    margin: 5px;
  }
}

@media (min-width: 815px) and (max-width: 942px) {
  .selector_btn {
    width: 50px;
    height: 30px;
    font-size: 0.8em;
    font-weight: 600;
    margin: 5px;
  }

  .activeBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    width: 50px;
    height: 30px;
    font-size: 0.8em;
    font-weight: 600;
    margin: 5px;
  }
}

@media (min-width: 943px) and (max-width: 1199px) {
  .selector_btn {
    width: 60px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px;
  }

  .activeBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    width: 60px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px;
  }
}



@media (min-width: 1200px) and (max-width: 1700px){
  .selector_btn {
    width: 80px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px;
  }

  .activeBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px;
  }
}