.header {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  background-color: rgba(36, 70, 38, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 768px) {
  .header {
    
    font-size: 1.1em;
  
  }
}
