.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-family: sans-serif;
  background: url("../src/pictures/fon.jpg");
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  height: max-content;
  width: 100%;
  position: relative;
}

.active {
  color: rgba(254, 143, 73, 1) !important;
}
