.nav_link {
  font-size: 100%;
  color: white;
  display: block;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
}

.nav_link:hover {
  color: #abe35f;
  transform: scale(1.1);
}
